@font-face {
     font-family: "Segoe";
     src: url("segoeuil.ttf");
 }

html, body, #map_canvas {
	margin     : 0;
	padding    : 0;
	height     : 100%;
	background : #22082F;
	font-family: "Segoe";
}

h1{
	background   : none;
	color        : white;
	padding      : 20px;
	text-align   : left;
	margin-top   : 0;
	margin-bottom: 10px;
	
}

button{
	background: #007A00;
	color     : white;
	text-align: left;
	border    : none;
	display   : block;

	margin-left: 20px;
	margin-top:  20px;

	width: 70%;
	min-height: 20%;

	padding   : 20px;


	
}